### Application configs
APPLICATION_NAME=starter-kit
APPLICATION_URL=http://localhost:8000
APPLICATION_DOMAIN=http://localhost:8000
ENV_NAME=test
NODE_ENV=test
VERSION=latest
# IP=localhost or IP=127.0.0.1 will cause server to be accessible only from given machine
# IP=0.0.0.0 for external access
IP=0.0.0.0
HTTP_PORT=8000
SHUTDOWN_TIMEOUT=3000

### Logging
LOG_LEVEL=debug
ENABLE_PRETTY_LOG=1
ENABLE_COLORIZED_LOG=1
ENABLE_CLOUD_LOGGING=0
ENABLE_DB_LOGGING=1
ENABLE_REQUEST_LOGGING=1
ENABLE_RESPONSE_LOGGING_BODY=1
ENABLE_DEVELOPER_MESSAGE=1
ENABLE_PERSISTENCE_FORCE_LOGGING=1

### Rate limiting
RATE_LIMIT_MAX=10
RATE_LIMIT_TIME_WINDOW=60000

### Database
TYPEORM_NAME=development
TYPEORM_TYPE=postgres
TYPEORM_HOST=
TYPEORM_PORT=5432
TYPEORM_DATABASE=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_SSL=false
TYPEORM_CACHE=true
TYPEORM_LOGGING=all
TYPEORM_DROP_SCHEMA=false
TYPEORM_SYNCHRONIZE=false
# there is hardcoded double-step verification based on ENV_NAME in configs to prevent accidental migration running on production DB
TYPEORM_MIGRATIONS_RUN=false
ENABLE_SEEDS=1

# Amazon Web Services
AWS_COGNITO_USER_POOL_ID=us-east-1_UolFKrLwO
AWS_CLIENT_ID=
AWS_CLIENT_SECRETE=
AWS_REGION=us-east-1
AWS_CLOUDWATCH_REGION=us-east-1
AWS_CLOUDWATCH_ACCESS_KEY_ID=
AWS_CLOUDWATCH_SECRET_ACCESS_KEY=
AWS_SDK_LOAD_CONFIG=""

### Secure
COOKIE_SECRET=evcrtefbvfgb452
JWT_REFRESH_TOKEN_SECRET=dfbvsgfb3€34r
JWT_REFRESH_TOKEN_EXPIRATION_TIME=30d
JWT_ACCESS_TOKEN_SECRET=ervger345tsdfvv
JWT_ACCESS_TOKEN_EXPIRATION_TIME=15m
API_KEY=test

### Compose
COMPOSE_PROJECT_NAME=development_deployment

### Other
ENABLE_CRON=0

TZ=UTC+0